@import "main.css";

h1 {
  color: var(--imas-yellow);
}

span {
  color: var(--imas-pink);
}

h2 {
  color: var(--imas-orange);
}

#enterText {
  color: #FFF;
  /* background-color: var(--imas-blue-med); */
  font-size: 1.2em;
  font-weight: bold;
}

#enterButton {
  background-color: var(--imas-blue-med);
}

#enterButton:hover {
  background-color: var(--imas-blue);
}