@import "main.css";

.card {
  color: #000;
}

.imas-bd-pink {
  border: .2em solid var(--imas-pink);
}

.imas-bd-orange {
  border: .2em solid var(--imas-orange);
}

.imas-bd-yellow {
  border: .2em solid var(--imas-yellow);
}

.imas-bd-blue {
  border: .2em solid var(--imas-blue);
}

.imas-underline {
  text-decoration: underline;
}
